@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is CIS237 Assignment #6.</p>
<p>Basic introduction of .net website creation using visual studio.</p>
<br />
<br />
<h3>TO USE THIS SITE:</h3>
<p>Go to beverages page. That is where the actual program is! <br />
    Click things. It's pretty self-explanatory. Edit lets you edit the item. Details lets you view that item's page. Delete removes item entirely.</p>